@import "../../../../node_modules/breakpoint-sass/stylesheets/_breakpoint.scss";
@import '../common.scss';

body{
	// background-color: blue;
	margin: 0;
	padding: 0;	
}

#map{
	position: absolute;
	width: 100%;
	min-width: 100%;
	// display: none;
	height:100vh;

	@include breakpoint( $screen-med) {
		 display: block;
	}
}