.sort{
	// margin-top: 1em;
	
	width: calc(100% - 90px);

	
}


.sort-hide{
	display: flex;	
	// flex: 0 0 auto;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 1em;
}


.sort .buttons{
	display: flex;
	justify-content: space-between;
	
}

.sort .buttons .ward-id{
	flex: 1;
	display: flex;
	.name{
		margin-right: .3em;
	}
	.id{

	}
}

.sort .buttons .money{
	flex: 0 0 auto;
}