@import "../../../../node_modules/breakpoint-sass/stylesheets/_breakpoint.scss";
@import '../common.scss';

#page{
	width: 100%;
	min-height:100%;
	
	background-color: white;
	position: absolute;
	z-index: 2001;
	// display: none;
	background-color: #D6513D;
	



	nav{
		p{
			padding: 1em;
			font-weight: 400;
			cursor: pointer;
			font-size: 1.3em;
			&.navItemSelected{
				text-decoration: underline;
			}
		}
		font-family: 'brandon_grotesquebold';
		background-color: #D6513D;
		display: flex;
		justify-content: center;		
		width: 100%;
		position: fixed;
		padding-top: 1.5em;
		@include breakpoint( $screen-large) {
			padding-top: 1em;
		}
	}
	&.isOpen{
		// display: block;
	}
}


.page-main{
	// background-color: red;
	// flex-grow: 1;
	color:black;
	min-height:100vh;

	
	display: flex;
	justify-content: center;
	// background-color: blue;
}

.page{

	margin-top: 3em;
	font-weight: 300;
	color: white;
	max-width: 800px;
	line-height: 1.5em;
	font-size: 1.2em;

	.foot-notes{
		font-size: .7em;
		font-weight: 400;
	}
}