$compliment-bg: #142736;
// $color-bright: #EED714;


$color-bg: #ef4f34;
$color-bg-lighter: #c7c7bf;

$color-bright: #ca5f5d;
$color-soft: rgba(250, 128, 114, 1);
$color-dark: #637277;
$hud-height: 80px;
$color---bg: #26596A;

$screen-large: min-width 1025px;