@import "../../../../node_modules/breakpoint-sass/stylesheets/_breakpoint.scss";
@import '../common.scss';




#more-info{
	left: -100vh;
	z-index: 1;
	background-color: #51757F;
	@include breakpoint( $screen-large) {
		 z-index: 0;
		 left: 0;
	}
}

#more-info.open{
	left: 0px;
	@include breakpoint( $screen-large) {
		 left: 500px;
	}
}







#more-info .close{
	font-family: brandon_grotesquebold;
	top: 5px;
	right: 5px;
	position: absolute;
	font-size: 1.3em;
	font-weight: 300;
	cursor: pointer;
	padding: 0em .3em;
	height: 1.5em;
	color: white;

}


#more-info ul{
	margin-top: 2em;
	padding-right: 6px;
}

#more-info .title{
	margin-top: 1.1em;

	@include breakpoint( $screen-large) {
		 margin-top: .3em;
	}
}

.project-item{
	font-size: .9em;
	margin-bottom: 0.7em;
	font-weight: 300;
	display: flex;
	justify-content: space-between;
}
.project-item .total{
	flex: 0 0 80px;
	text-align: right;
	
}

